/**
 * medium.css
 * Contains default styles to inject into Medium publications.
 */
.postMeterBar,
.openInAppButton,
.js-stickyFooter,
.js-upgradeMembershipAction,
.butterBar--privacy,
.overlay,
.overlay--lighter {
	display: none;
}

/* Makes the page scrollable after hiding "Pardon the interruption" popup */
html.u-overflowHidden {
	overflow-y: scroll !important;
}
